<img src="assets/images/windmill_blades.png" alt="image" style={{myStyle}}>
<button class="button" id="slower" {{action 'slower'}}>Slower</button>
<button class="button" id="slow" {{action 'slow'}}>Slow</button>
<button class="button" id="steady" {{action 'steady'}}>Steady</button>
<button class="button" id="fast" {{action 'fast'}}>Fast</button>
<button class="button" id="faster" {{action 'faster'}}>Faster</button>
<button class="button" id="rotate" {{action 'rotate'}}>Rotate</button>
<button class="button" id="rest" {{action 'rest'}}>Rest</button>
<button class="button" id="reset" {{action 'reset'}}>Reset</button>
{{yield}}
